<% provide(:title, 'Qienes Somos') %>
<h1>Nosotros</h1>


<div>
	  <br><br><br>
       
	<table class="quienessomos" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
 	   <td align="center"> 

	"Mobile" Tienda de Celulares.
	<br><br><br>
		Somos una empresa con más de 9 años de experiencia en el manejo de ventas, 
		ahora tambien por internet, a lo largo de los años nos hemos destacado por
		brindar la tecnología de punta para satisfacer las necesidades de nuestros
		clientes con vanguardia en tecnología. <br><br>
		Nos preocupamos por dar dar un servicio dedicado y profesional de ventas de
		productos moviles ya sea en nuestras sucursales o también via internet.	</td> </tr> 

</table><br><br>
</div>