<% provide(:title, 'Aviso de Privacidad') %>
<h1>Aviso de Privacidad</h1>

<div>
		  <br><br><br>              
       
<table class="Sucursal" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
    <tr> 
    <td align="center"> 
	
		Aviso de privacidad y confidencialidad de la informacion.
<br><br><br>
Este Aviso de Privacidad (en lo sucesivo el "Aviso de Privacidad") entrara en vigor desde 
su aceptacion para los nuevos usuarios y esta vigente desde Enero de 2012. Como parte normal
de nuestra actividad recogemos y, en algunos casos, revelamos informacion sobre nuestros 
usuarios y visitantes de nuestro sitio Web. Este Aviso de Privacidad describe la informacion 
que Mobile S.A. de C.V., domiciliadas en Felix Cuevas No. 6 Quinto Piso Oficina 501, Colonia Tlacoquemecatl
 del Valle, Benito Juarez (Codigo Postal 03200) Mexico, D.F., Mexico. Recogen sobre los usuarios 
 y visitantes de la plataforma de comercio electronico y del sistema de pagos online conocido como
 MobilePago. Este Aviso de Privacidad, asimismo, describe que puede hacerse con dicha informacion.
 Este aviso es muy detallada porque es importante que todos los usuarios y visitantes de nuestro 
 sitio Web conozcan las practicas de Mobile de la forma mas precisa posible. Al inscribirse y/o 
 navegar el sitio Web de Mobile, el usuario y/o el visitante presta su consentimiento para que 
 se utilice su informacion personal.

La privacidad de la informacion de los usuarios es muy importante para Mobile. Es por esa razon
 que se toman las precauciones y recaudos para resguardar su informacion, utilizando los mecanismos
 de seguridad informatica de proteccion de la informacion mas completos y eficaces.
    </td> 
	
</tr>
</tr> 
</table>

<br><br><br>
</div>
