<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>

 <div>
		  <br><br><br>              
       
<table class="Sucursal" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
    <td align="center"> 
	
	"Mobile" Contacto
	<br><br><br>
		Comentarios o Sugerencias:<br><br>
		email:  ventas@mobilemail.com<br><br>
		Por telefono: 81-4624-4630<br>
		11:00am a 4:00pm Lunes a Viernes<br>
<br>
		2012 Mobile Derechos reservados.<br>
</tr> 
</table>

<br><br><br>
</div>
