<% provide(:title, 'Preguntas Frecuentes') %>
<h1>Preguntas Frecuentes</h1>
<div>
		  <br><br><br>              
       
<table class="Sucursal" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
    <td align="left"> 
	Algunas dudas comunes.
	<br><br>
		¿Cómo puedo comprar?
<br>
Seleccionar la Marca, en el menú podrás encontrar la marca de tu teléfono. 
Si deseas puedes realizar tu compra haciendo click en comprar.

<br>Seleccionar el Modelo, escoje los modelos de la marca de celular elegido.

<br>Seleccionar el Accesorio, en el menú podrás ver las categorías de accesorios disponibles. 
Si desea puedes realizar tu compra haciendo click en comprar, en la página que aparecerá a 
continuación podrá modificar las cantidades, enviar o anular su pedido.
<br>
<br>No soy usuario de mobile.com, ¿ cómo me registro ?
<br>
En la portada inicial esta el link para registrarse, es gratis y muy simple. 
<br><br>
¿Puedo comprar tantos productos como desee?
<br>
Si, esto es como un local a la calle con la diferencia que es a través de Internet.
<br><br>
¿Cómo llegar al artículo que deseo?
<br>
Puede ubicarlo por marca de celular, modelo o accesorio, haciendo clic sobre las barras desplegables.
<br><br>
Deseo saber más sobre el artículo a comprar, ¿ cómo pregunto ?
<br>
Para hacer preguntas, ingrese al link de Contacto y escriba su pregunta, nosotros le contestaremos en el más breve plazo.
<br><br>
¿Aceptan pagos con tarjeta?
<br>
Sí, solo aceptamos tarjetas de Crédito VISA.
		
    </td> 
	
</tr> 
</table>

<br><br><br>
		</div>