<% provide(:title, 'Mapa de Sitio') %>
<h1>Mapa de sitio</h1>
<div>
		  <br><br><br>              
       
<table class="Sitemap" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
<img src="assets/map.jpeg"/>
</tr> 
</table>

<br><br><br>
</div>