<% provide(:title, 'Sucursales') %>
<h1>Sucursales</h1>

<div>
		  <br><br><br>              
       
<table class="Sucursal" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
    <td align="center"> 
	
	"eureka" Norte
	<br><br><br>
		eureka Centro de Distribucion <br>
		Chihuahua, Mexico SUCURSAL Norte, S.A. <br>
		ALAMO ROJO 2638, COL. ALAMOS, <br>
		Chihuahua, Chihuahua,  C.P. 31125,<br>  
		Mexico<br><br><br>
    </td> 
	<td align="center">
	"eureka" Sur
	<br><br><br>
		eureka Centro de Distribucion <br>
		DF, Mexico SUCURSAL Sur, S.A. de C.V. <br>
		ALAMO ROJO 6238, COL. ALAMOS, <br>
		Coyoacan, DF C.P. 13125,<br>  
		Mexico<br><br><br>
	
	</td>
</tr> 
</table>

<br><br><br>
</div>