<%# encoding: utf-8 %>
<% provide(:title, 'uso') %>
<h1>Condiciones de Uso</h1>
 <div>
		  <br><br><br>              
       
<table class="Sucursal" align="center" cellspacing="1" cellpadding="10" border="6"> 
<tr> 
    <td align="center"> 
	
	Términos y Condiciones de uso del Sitio.
	<br><br><br>

Vigente desde: 11/05/2012

Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") 
aplicables al uso de los servicios ofrecidos por Mobile S.A de C.V., dentro del sitio www.mobile.com. 
Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a 
los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen 
Mobile y que son incorporados al presente por referencia.

CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER 
OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.

El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y 
Condiciones Generales y en el Aviso de Privacidad así como en los demás documentos incorporados 
a los mismos por referencia, previo a su inscripción como Usuario de MercadoLibre.
<br>
01 - Capacidad. 

Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. 
No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de edad o 
Usuarios de Mobile que hayan sido suspendidos temporalmente o inhabilitados definitivamente. 
Si estás inscribiendo un Usuario como Empresa, debes tener capacidad para contratar a nombre 
de tal entidad y de obligar a la misma en los términos de este Acuerdo.
<br>02 - Inscripción. 

Es obligatorio completar el formulario de inscripción en todos sus campos con datos válidos para 
poder utilizar los servicios que brinda Mobile. El futuro Usuario deberá completarlo con su 
información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso 
de actualizar los Datos Personales conforme resulte necesario. Mobile podrá utilizar diversos medios 
para identificar a sus Usuarios, pero Mobile NO se responsabiliza por la certeza de los Datos Personales 
provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, 
exactitud, vigencia y autenticidad de los Datos Personales ingresados.

o relacionados, podrá cancelar, suspender o inhabilitarlas.

El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la 
misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. 
El Usuario se compromete a notificar a Mobile en forma inmediata y por medio idóneo y fehaciente, 
cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. 
Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación y 
calificaciones) bajo ningún título.

A su exclusiva discreción, Mobile podrá requerir una inscripción adicional a los Usuarios que 
operen como agencias o inmobiliarias, como requisito para que dichos Usuarios accedan a paquetes 
especiales de publicaciones. En estos casos, una vez efectuada la inscripción adicional, las ofertas 
de venta de automóviles o inmuebles que realicen las agencias o inmobiliarias, respectivamente, sólo 
se publicarán en Mobile a través de alguno de dichos paquetes o bajo las modalidades que 
Mobile Habilite para este tipo de Usuarios.

El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Seudónimo y clave de 
seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad 
de su Clave de Seguridad.

La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario inscriba o posea 
más de una Cuenta. En caso que Mobile detecte distintas Cuentas que contengan datos coincidentes 
Mobile se reserva el derecho de rechazar cualquier solicitud de inscripción o de cancelar una 
inscripción previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su 
decisión y sin que ello genere algún derecho a indemnización o resarcimiento.

<br>03 - Modificaciones del Acuerdo.

Mobile podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos 
en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) 
días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones 
introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará 
disuelto el vínculo contractual y será inhabilitado como Usuario siempre que no tenga deudas pendientes. 
Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato continuará 
vinculando a ambas partes. 
    </td> 
	
</tr> 
</table>

<br><br><br>
		</div>