<!--<h1>DynamicPagesProducts#smartphones</h1>
<p>Find me in app/views/dynamic_pages_products/smartphones.html.erb</p>
-->
<% provide(:title, 'SmartPhones') %>
<h1>DynamicPagesProducts#smartphones</h1>
<p>
  Esta sera la vista principal para visualizar smartphones
</p>

