// Place all the styles related to the DynamicPagesProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

      
#homeItems{
  width:560px;
  margin: 0px auto;
  padding: 0px;
  list-style:none;
  display:block;
}
      
#homeItems li{
  display:block;
  float:left;
  z-index:900;
  width:280px;
  height:296px;
  background-image: image-url('homeleftli.jpg');
}
      
#homeItems li .catItem {
  position: relative;
  display: block;
  float: left;
  width: 270px;
  height: 276px;
  margin: 10px 0 0 0;
  /*background-image: url(../images/equipos/ImagenesGral/itemcatalogo.jpg);*/
}
  
#homeItems li .catItem .itemMedia {
  position: relative;
  float: left;
  width: 117px;
  height: 197px;
  margin-left: 3px;
  text-align: center;
}
  
#homeItems li .catItem .itemInfo {
  float: left;
  width: 142px;
  height: 170px;
  /*background-image: url(../images/equipos/ImagenesGral/precioitem2.jpg);*/
  background-position: bottom left;
  background-repeat: no-repeat;
}

#homeItems li .catItem h3 {
  color: #005C84;
  font-size: 16px;
  line-height: 16px;
  margin-left: 6px;
  height: 25px;
}
  
.itemInfo .precio {
  //border-bottom: 1px solid #035177;
  color: #00507F;
  font-size: 20px;
  height: 70px;
  margin: 0 0 3px 6px;
  padding: 0 0 5px;
  width: 120px;
  //border-bottom-width: 2px;
}

.precio div {
  float:left;
}
.precio span {
  font-size: 25px;
  line-height: 54px;
}

.description {
  
}
#caracteristicas li{
 height:30px; 
}





